@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
.section__food .container{
    margin: 0 auto;
}
.conatiner{
    max-width: 1350px;
    width: 100%;
}
.section_title{
    text-align: center;
    font-size: 54px;
    font-weight: 700;
}
.section_text{
    text-align: center;
    color: #3B433E;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}