@import "fonts.css";

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

.wrap-wrap{
    display: flex;
    flex-direction: column;
}
.wrap-wrap-small{
    display: flex;
}
.footer__big-h{
    padding-bottom: 34px;
}
.footer__big-h {
  font-family: "roboto";
  font-weight: 700;
}
.footer__small-h {
  font-family: "roboto";
  font-weight: 400;
}
.small__menu-h {
  font-family: "roboto";
  font-weight: 700;
}
.small__menu-p{
    font-family: "roboto";
    font-weight: 400;
}
.wrap__wrap-p{
    font-family: "roboto";
    font-weight: 400;
}
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}





.main-seciton {
    margin: 0 auto;
    justify-content: center;
}

.father-div {
    display: flex;
}

.cards-lar {
    margin-right: 10px;
    max-width: 356px;
    width: 100%;
    height: 520px;
    border-radius: 20px;
    border: 1px solid #EBEBEB;
    background: #FFF;

.section__food .container{
    margin: 0 auto;
}

.conatiner{
    max-width: 1350px;
    width: 100%;
}
.section__food .conatiner{
    text-align: center;
}
.card_title{
    margin-top: 36px;
    margin-bottom: 18px;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.cards{
   display: flex;
   justify-content: center;
   column-gap: 50px;
}

.card_txt{
   max-width: 270px;
   width: 100%;
   font-size: 18px;
   display: flex;
}
.card_img{
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
}
.section_title{
    text-align: center;
    font-size: 54px;
    font-weight: 700;
}
.section_text{
    text-align: center;
    color: #3B433E;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}
.card_2-title{
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}
.card_2-txt{
    color: #545454;
    margin-top: 20px;
}
.cards2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    column-gap: 100px;
}

